body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

#question-box {
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#score {
    color: blue;
    margin-top: 10px;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}